{% extends "base.html" %}
{% load static %}

{% block css_files%}
<link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{%endblock%}

  {%block page_title%}
  All Months
  {% endblock %}

  {% comment %} {%block page_heading%}
  List of Months
  {% endblock %} {% endcomment %}
  
  {%block content%}
    {% include "challenges/includes/header.html" %}
    {% comment %} {% include "./includes/header.html" %} {% endcomment %}
    
    {% comment %} {% include "./includes/header.html" with active_page="Hey! its index.html" %} {% endcomment %}
    {% comment %} active_page is a variable that is being rendered in the header.html and is sent as a special/customized variable from index.html for header.html {% endcomment %}
    {% comment %} absolute valid path below {% endcomment %}
    {% comment %} challenges/includes/header.html {% endcomment %}

    <ul>
      {%for month in months%}
        {% comment %}       Hard Code Url Below        {% endcomment %}
       {% comment %} <li><a href="/challenges/{{month}}">{{month|title}}</a></li> {% endcomment %}

       {% comment %}    Description: "url" keyword is used to refer Dynamic Link in urls.py folder in DjangoTemplateLanguage     {% endcomment %}
       {% comment %}        url "dynamicUrlName" argument1 argument2 argumentN         {% endcomment %}
       <li><a href="{% url "monthsUrl" month %}">{{month|title}}</a></li>
       {% comment %}        or      {% endcomment %}
       {% comment %} <li><a href="{% url "monthsUrl" month=month %}">{{month|title}}</a></li> {% endcomment %}

       {% comment %}        or      {% endcomment %}
       {% comment %} <li><a href="{% url "monthsUrl" arg1=month arg2=ifAny %}">{{month|title}}</a></li> {% endcomment %}
      {% endfor %}
    </ul>
    {%endblock%}