{%load static%}
        <li>
            <article class="post">
                <a href="{% url "post-detail-page" slug="the-mountains" %}">
                    <img src="{%static "blog/images/mountains.jpg"%}" alt="Mountain Hiking"/>
                    <div class="post__content">
                    {% comment %} In template post['title'] EQUALS post.title {% endcomment %}
                    {% comment %} each_post is coming from index.html, where post.html was loaded {% endcomment %}
                        <h3>{{each_post.title}}</h3>
                        <p>
                            {{each_post.excerpt}}
                        </p>
                    </div>
                </a>
            </article>
        </li>